<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularJS To-Do List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      margin: 5px 0;
    }
    button {
      margin-left: 10px;
      color: white;
      background-color: red;
      border: none;
      cursor: pointer;
      padding: 2px 8px;
    }
  </style>
</head>
<body ng-app="todoApp" ng-controller="TodoController">

  <h1>Simple To-Do List</h1>
  
  <input type="text" ng-model="newTask" placeholder="Add a new task">
  <button ng-click="addTask()">Add</button>
  
  <ul>
    <li ng-repeat="task in tasks">
      <span>{{ task }}</span>
      <button ng-click="removeTask($index)">Remove</button>
    </li>
  </ul>
  
</body>
<script>
  // JavaScript (app.js)
  var app = angular.module('todoApp', []);

  app.controller('TodoController', function ($scope) {
    $scope.tasks = []; // Array to store tasks

    // Add a new task
    $scope.addTask = function () {
      if ($scope.newTask) {
        $scope.tasks.push($scope.newTask);
        $scope.newTask = ""; // Clear input field
      }
    };

    // Remove a task by index
    $scope.removeTask = function (index) {
      $scope.tasks.splice(index, 1);
    };
  });
</script>
</html>
